.portfolio__container{
    grid-template-columns: repeat(3,1fr);
    
    gap:40px;
}
.portfolio__items{
    
    border-radius: 18px;
    box-shadow: var(--shadow);
    background-color:var(--bg-color-alt);
    
}
.portfolio__img-wrapper{
    border-radius: 18px;
    padding-left:10px;
    padding-right: 10px;
    
    box-shadow: var(--shadow);
}
.portfolio__items:hover .portfolio__img{
    transform: scale(1.04);
}
.portfolio__img{
    height:240px;
    width:100%;
    object-fit:contain;
    align-items: center;
    vertical-align: middle;
    transition: all 0.6s var(--transition);

}
.portfolio__category{
    color:var(--primary-color);
    font-size: var(--tiny-font-color);
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}
.portfolio__category{
    margin-top:30px;
    text-align: center;
}
.portfolio__title{
    font-size: var(--h4-font-size);
    text-align: center;
    
}
.c__shape{
    top:-24px;
    bottom:-24px;
    padding: 0;
}
.portfolio_link{
    margin-left:20px;
    margin-top:-2px;
}